<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-white fw-bold">It's time to change your mind</h1>
				<p>Get a perfect mash-up of dedicated engineers, Top tech skills, &amp; stellar project ideas.</p>
				<div class="row justify-content-center">
					<div class="col-lg-4">
						<ul class="list-inline">
							<li class="list-inline-item w-100">
								<a data-bs-toggle="modal" data-bs-target="#formModal"
									class="btn btn-rounded-icon white-hover d-flex align-items-center justify-content-center">
									<i class="fa-solid fa-message me-3"></i>
									<span>Let's Build Your App</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-4">
						<ul class="list-inline">
							<li class="list-inline-item w-100">
								<a href="tel:8882279908"
									class="btn btn-rounded-icon white-hover d-flex align-items-center justify-content-center">
									<i class="fa-solid fa-phone me-3"></i>
									<span>(888) - 227 - 9908</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>