<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="block">
            <h3 class="mb-3 fw-bold text-white">
              It's Time To Be Ahead Of Your Business Competitors.
            </h3>

            <p class="mb-3">
              Pebtech is a Mobile and Web App Development Partner That Empowers Businesses to Bring
              Their Dream Ideas to Reality.
            </p>

            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-3 col-lg-2">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Portfolio</a></li>
              <li><a href="privacy-policy.html">Services</a></li>
            </ul>
          </div>
        </div>

        <div class="col-9 col-lg-4">
          <div class="block-3">
            <!-- heading -->
            <h6>Contact Us Now</h6>
            <!-- links -->
            <ul>
              <li>
                <a href="#">
                  <i class="fa-solid fa-location-dot me-3"></i>
                  <span>30 N Gould St Ste R Sheridan, WY 82801 USA</span>
                </a>
              </li>
              <li>
                <a href="mailto:info@appcil.com">
                  <i class="fa-solid fa-envelope me-3"></i>
                  <span>info@appcil.com</span>
                </a>
              </li>
              <li>
                <a href="tel:8882279908">
                  <i class="fa-sharp fa-solid fa-phone me-3"></i>
                  <span>(888) - 227 - 9908</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy;
      <script>document.write(new Date().getFullYear())</script>
      <a href="#">APPCIL</a>
      <span>All Rights Reserved</span>
    </small class="text-secondary">
  </div>
</footer>