<form>
    <div class="row g-3">
        <div class="col-12">
            <div class="col-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleName" aria-describedby="emailHelp"
                        placeholder="Name" name="Name" required="">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="col-12">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleEmail" aria-describedby="emailHelp"
                        placeholder="Email Address" name="Email" required="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                <select id="exampleInterested" class="form-select" aria-label="Default select example" name="Interested"
                    required="">
                    <option value="Native iOS Application">Native iOS
                        Application
                    </option>
                    <option value="Hybird iOS Application">Hybird iOS
                        Application
                    </option>
                    <option value="iOS Game Development">iOS Game Development
                    </option>
                    <option value="UI/Ux Design">UI/Ux Design</option>
                    <option value="Support and Maintenance">Support and Maintenance
                    </option>
                    <option value="Hire a iOS Developer">Hire iOS Developer
                    </option>
                    <option value="Other">Other
                    </option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                <input type="text" name="Phone" id="exampleNumber" maxlength="16" minlength="8" class="form-control"
                    placeholder="Mobile No.">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="form-group">
                    <textarea cols="40" rows="5" name="Message" class="form-control"
                        placeholder="Let us know about your idea.." required=""></textarea>
                </div>
            </div>
        </div>

        <!-- hidden filed -->
        <input type="hidden" name="Target" value="header-section-form">
        <!-- hidden filed -->

        <div>
            <button type="submit" class="btn btn-main-md black-hover">
                Talk To Our Expert
            </button>
        </div>

    </div>
</form>