<!-- Modal -->
<div class="modal fade jd-modal" id="form-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Android Developer</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Applictaion Title -->
                <div class="form-title">
                    <h3>Apply Now</h3>
                </div>
                <!-- Application Form -->
                @@include('blocks/form.htm')
            </div>
        </div>
    </div>
</div>