<!-- Modal -->
<div class="modal fade jd-modal" id="form-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">GET A FREE QUOTE</h5>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @@include('blocks/form.htm')
            </div>
        </div>
    </div>
</div>