<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0 shadow">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown @@home">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown @@about">
          <a class="nav-link" href="../../about.html">About Us</a>
        </li>
        <li class="nav-item dropdown @@services">
          <a class="nav-link" href="../../services.html">Services</a>
        </li>
        <li class="nav-item dropdown @@portfolio">
          <a class="nav-link" href="../../portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item dropdown @@contact">
          <a class="nav-link" href="../../contact.html">Contact Us</a>
        </li>
        <li class="nav-item text-center ms-0 ms-lg-3">
          <a data-bs-toggle="modal" data-bs-target="#form-modal" class="btn btn-main-sm black-hover">
            Get in touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>