<!--====  Start of Technology Tabs  ====-->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Emerging Tech To Drive More Value</h2>
                <p>Appcil always keeps track of emerging technologies to deliver forward-thinking solutions.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div data-custom-tab="true">
            <ul class="tab-navbar">
                <li>
                    <a class="active" id="ai-tab" data-custom-target="ai-box">
                        <img src="images//icons/ai-o.svg" width="80" height="auto" alt="artificial-intelligence"
                            srcset="" />
                        <span>Artificial Intelligence</span>
                    </a>
                </li>
                <li>
                    <a id="iot-tab" data-custom-target="iot-box">
                        <img src="images/icons/iot.svg" width="80" height="auto" alt="" srcset="" />
                        <span>Internet of Things</span>
                    </a>
                </li>
                <li>
                    <a id="bc-tab" data-custom-target="bc-box">
                        <img src="images/icons/bc.svg" width="80" height="auto" alt="" srcset="" />
                        <span>Blockchain</span>
                    </a>
                </li>
                <li>
                    <a id="cc-tab" data-custom-target="cc-box">
                        <img src="images/icons/cc-o.svg" width="80" height="auto" alt="" srcset="" />
                        <span>Cloud Computing</span>
                    </a>
                </li>
                <li>
                    <a id="bd-tab" data-custom-target="bd-box">
                        <img src="images/icons/bd.svg" width="80" height="auto" alt="" srcset="" />
                        <span>Big Data</span>
                    </a>
                </li>
                <li>

                    <a id="ar-tab" data-custom-target="ar-box">
                        <img src="images/icons/ar.svg" width="80" height="auto" alt="" srcset="" />
                        <span>Augmented Reality</span>
                    </a>
                </li>
            </ul>

            <div class="tab-container">
                <div class="tab-card active" id="ai-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Artificial Intelligence</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Use AI-based algorithms like a machine and deep learning to automate any operation, gain
                                insights from Big Data, ensure fail-safe decisions of your employees, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-card" id="iot-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Internet of Things</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Use IoT devices to monitor your operations in a secure, well-built infrastructure
                                continually. They will gather Big Data, helping you to streamline these operations, gain
                                spot-on insights, and improve employee decision-making.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-card" id="bc-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Blockchain</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>

                                Use a private blockchain to make your business data more secure, automate key operations
                                with Smart Contracts, create a blockchain-based marketplace, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-card" id="cc-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Cloud Computing</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Use our Microsoft Azure and AWS cloud solutions to make your business environment
                                flexible, scalable, and connected. Use our expertise in enterprise applications
                                development to move your mobile strategy to the cloud.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-card" id="bd-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Big Data</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Create a scalable way to consistently boost your business intelligence, develop a
                                reliable way to analyze your data, and give your employees a convenient way to visualize
                                and understand your customers’ preferences and the market’s trends.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-card" id="ar-box">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 class="fw-bold text-center">Augmented Reality</h3>
                        </div>
                        <div class="col-lg-9">
                            <p>
                                Build 3D prototypes in AR, implement AR enterprise training software, hold meetings in
                                AR - the technology will elevate the efficiency of your operations, and help you cut
                                costs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Technology Tabs  ====-->